<h1 class="text-white">New Event</h1>
<hr>
<div class="col-md-6 text-white">
  <form  autocomplete="off" novalidate>
    <div class="form-group">
      <label for="eventName" id="eventName">Event Name:</label>
      <em>Required</em>

      <input id="name" type="text" class="form-control" placeholder="Name of your event..."
          [(ngModel)]="formEvent.name" #eventField="ngModel"  required   name="eventName"  />
    </div>
    <div class="form-group" >
      <label for="eventDate">Event Date:</label>
      <em>Required</em>
      <input [(ngModel)]="formEvent.date" #eventDate="ngModel" required name="date" id="eventDate" type="text" class="form-control" placeholder="format (mm/dd/yyyy)..." />
    </div>
    <div class="form-group">
      <label for="eventTime">Event Time:</label>
      <em>Required</em>
      <input [(ngModel)]="formEvent.time" #eventTime="ngModel" required name="time"  id="eventTime" type="text" class="form-control" placeholder="start and end time..." />
    </div>
    <div class="form-group">
      <label for="eventPrice">Event Price:</label>
      <em>Required</em>
      <input [(ngModel)]="formEvent.price" #eventPrice="ngModel" required name="price" id="eventPrice" type="text" type="number" class="form-control" placeholder="event price..." />
    </div>

    <div class="form-group mb-4">
      <label for="address">Event Location:</label>
      <input [(ngModel)]="formEvent.locations.address" #eventAddress="ngModel" name="address" id="address" type="text" class="form-control" placeholder="Address of event..." />
    </div>
    <div class="row mb-4">
      <div class="col-md-6">
        <input [(ngModel)]="formEvent.locations.city" #eventAddress="ngModel" name="city"  id="city" type="text" class="form-control" placeholder="City..." />
      </div>
      <div class="col-md-6" >
        <input [(ngModel)]="formEvent.locations.country" #eventAddress="ngModel" name="country"  id="country" type="text" class="form-control" placeholder="Country..." />
      </div>
    </div>
    <button type="button" class="btn btn-primary me-2" (click)="onSubmit()">Save</button>
    <button type="button" class="btn btn-danger" (click)="navigateToEvents()">Cancel</button>
  </form>
</div>
